page-login {
    font-family: Arial, Helvetica, sans-serif;
    .login_form{
        background-color: lightgrey;
        margin-top: 70px;  
        border-radius: 10px;
    }
    .login_field{
        border-radius: 5px;
        margin-top: 15px;
    }
    .error {
        color: red;
        float: right;
        padding-right: 10px;
        margin-bottom: 5px;
      }
    .sign-in{
        text-align: center;
        color: lightslategray;
        padding: 5px 0px 15px 0px;
    }
    .img-sign-in{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -70px;
        width: 30%;
    }
}
