<ion-header>
  <ion-navbar>
    <ion-title class="title">
      Shuttle Bus Schedules
    </ion-title>
    <button ion-button large left menuToggle [ngStyle]="{'background':'none'}">
      <ion-icon name="menu" class="menuToggle"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="no-data" *ngIf="checkSchedule()">
    <img class="no-data" src="assets/img/no_data.png">
    <h1 class="no-data-text">You have NO upcoming schedules!</h1>
  </div>
  
  <ion-list no-lines>
    <ion-card no-padding *ngFor="let schedule of scheduleList;let i = index" [ngStyle]="{'margin-bottom':'10px', 'background' : 'white'}">
      <ion-card-header>
        <h1>{{schedule.des_from}} - {{schedule.des_to}}<p item-end class="today" *ngIf="compareDate(schedule.dep_date)">Today</p></h1>
        
        <!-- {{schedule.dep_date}}<p item-end class="today" *ngIf="compareDate(schedule.dep_date)">TODAY</p> -->
        
      </ion-card-header>
      <ion-card-content>
        <ion-grid no-padding>
          <ion-row>
            <ion-col>
                <ion-row>
                    <ion-col class="column-left">
                        <div>Departure Date</div>
                        <h2> {{formatDate(schedule.dep_date)}} </h2>
                        
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col class="column-left">
                          <div>Departure Time</div>
                          <h2> {{schedule.dep_time}} </h2>
                      </ion-col>
                  </ion-row>
                  <ion-row >
                      <ion-col class="column-left">
                        <div>Remaining Seats</div>
                      <h2 style="padding-bottom: 2px !important"> {{schedule.remaining_seats}} </h2>
                      </ion-col>
                    </ion-row>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-col class="column-right" no-padding>
                  <ion-item class="number">Customer: <h2 item-end>{{schedule.customer}}</h2></ion-item>
                    
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="column-right" no-padding>
                    <ion-item class="number">Student: <h2 item-end>{{schedule.student}}</h2></ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col class="column-right" no-padding>
                      <ion-item class="number">Staff: <h2 item-end>{{schedule.staff}}</h2></ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="column-right" no-padding>
                        <ion-item class="number">Total: <h2 item-end>{{schedule.no_of_booking}}</h2></ion-item>
                        
                    </ion-col>
                  </ion-row>

              
            </ion-col>
          </ion-row>

          <!-- <ion-row *ngIf="checkDate[(schedule.bus_per_schedule_id)+'CheckDate']">
            <ion-col class="confirm">
              <button ion-button outline block class="left" color="dark" [disabled]="disabled[(schedule.bus_per_schedule_id)+'LeaveButton']" (click)="leave(schedule.bus_per_schedule_id)">Leave</button>
            </ion-col>
            <ion-col class="confirm">
              <button ion-button outline block class="right" color="dark" [disabled]="disabled[(schedule.bus_per_schedule_id)+'ArriveButton']" (click)="arrive(schedule.bus_per_schedule_id)">Arrive</button>
            </ion-col>
          </ion-row> -->
        </ion-grid>
        
        <!-- <button ion-button icon-only block round (click)="report(schedule.bus_per_schedule_id)" *ngIf="disabled[(schedule.bus_per_schedule_id)+'ShowReportButton']" [disabled]="disabled[(schedule.bus_per_schedule_id)+'DisableReportButton']">
          Fill Out Report
        </button> -->
        <button ion-button icon-only block (click)="scan(schedule.id)" style="margin-top: 1px !important">
          Check Passenger
        </button>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>